doctype html
html(ng-app='mustache')
  head
    title= title
    link(rel='stylesheet', href='/vendor/css/lib.min.css')
    link(rel='stylesheet', href='/css/app.min.css')
  body
    block content
    script(src='/vendor/js/lib.min.js')
    script(src='/js/app.min.js')