body {
  height: 100%;
  width: 100%;
  background-color: @background-color;
  border:0;
  margin: 0;
  //padding-top: 70px;
}

.app{
  height: auto;
  min-height: 100%;
  width: 100%;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    width: inherit;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: @app-bg;
    border: inherit;
    display: block;
  }
}

// menu
.app-aside{
  float: left;
  &:before{
    content: "";
    position: absolute;
    width: inherit;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
    border: inherit;
  }
}

// content
.app-content{
  height: 100%;
  .clearfix();
}
