.mustache {
  height: auto;
  min-height: 100%;
}

.dock {
  display:block;
  border-style: solid;
  border-left: solid black 1px;
  border-right:solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  height: 100%;
}

.dock-center {
  position:absolute;
  left: 305px;
  top:65px;
}

.dock-left {
  position: absolute;
  top: 65px;
  left:0;
  right:auto;
  width: 300px;
}
.dock-right {
  position: absolute;
  right:0;
  left: auto;
}