@nav-bg:#333;
@nav-bg-link:#000;
@nav-fg-link:#ccc;
@nav-ov-link:#eee;
@nav-ac-link:#FFF;
@nav-bg-active:black;

@font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;

@font-md-size: 14px;
@font-weight: normal;