<div id="layout" class="mustache">
    <div id="floatLeft" class="dock dock-left">
        <nav class="mustache-nav" ui-nav>
            <ul>
                <li class="sub-header"><a href="#">Some header</a></li>
                <li class="sub-header"><a href="#">Could this be a good header</a>
                    <ul>
                        <li><a href="#">Some sub menu</a></li>
                        <li><a href="#">Yest another one</a></li>
                    </ul>
                </li>
                <li class="sub-header"><a href="#" class="active">Yest another header</a>
                    <ul>
                        <li><a href="#">Some sub menu</a></li>
                        <li><a href="#">Yest another one</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="floatRight" class="dock dock-right">
        This is right
    </div>
    <!--<div id="floatRightBlue" class="dock dock-right">-->
        <!--<span class="blue">This is blue</span>-->
    <!--</div>-->
    <div id="anotherBlue" class="dock dock-center">Is that blue?</div>
</div>