<div id="layout" class="mustache">
    <div class="dock dock-top">Top top</div>
    <div id="floatLeft" class="dock dock-left">
        <nav class="mustache-nav" ui-nav>
            <ul>
                <li class="text-muted text-xs">
                    <span>Navigation</span>
                </li>
                <li class="sub-header"><a><i class="fa fa-cloud"></i>Some header</a></li>
                <li class="sub-header"><a><i class="fa fa-bullseye"></i>Could this be a good header</a>
                    <ul>
                        <li><a href="#"><i class="fa fa-bar-chart"></i>Some sub menu</a></li>
                        <li><a href="#">Yest another one</a></li>
                    </ul>
                </li>
                <li class="sub-header"><a class="active"><i class="fa fa-anchor"></i>Yet another header</a>
                    <ul>
                        <li><a href="#">Some sub menu</a></li>
                        <li><a href="#">Yest another one</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div id="floatRight" class="dock dock-right">
        This is right
    </div>
    <!--<div id="floatRightBlue" class="dock dock-right">-->
        <!--<span class="blue">This is blue</span>-->
    <!--</div>-->
    <div id="anotherBlue" class="dock dock-center">
        <div class="col-md-3">Is that blue? Haha no it's white.</div>
        <div class="col-md-3">Is that blue? Haha no it's white.</div>
        <div class="col-md-3">Is that blue? Haha no it's white.</div>
        <div class="col-md-3">Is that blue? Haha no it's white.</div>
        <div class="col-md-3">Is that blue? Haha no it's white.</div>
    </div>
</div>